<div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s">
    <div class="top-border wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"></div>
    <div class="right-border wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;"></div>
    <div class="bottom-border wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"></div>
    <div class="left-border wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></div>
  </div>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container">
    <div class="registration-form">
        <h2>Car Registration</h2>
        <form id="registration-form">
            <div [formGroup]="selectedVehicleType">
                <div>
                    <span>Choose the type</span>
                </div>
            <select name="vehicleType" formControlName="selectedVehicleType" style="margin-bottom: 10px; width: 100%; height: 38px; cursor: pointer; border-radius: 5px;" aria-label=".form-select-lg example" (change)="validateVehicleType()">
                <option *ngFor="let vehicleType of vehicleTypes" [ngValue]="vehicleType">
                    {{vehicleType.name}}
                  </option>
              </select>
            </div>
            <div [formGroup]="selectedColor">
              <div>
                <span>Choose the color</span>
            </div>
              <select name="vehicleType" formControlName="selectedColor" style="margin-bottom: 10px; width: 100%; height: 38px; cursor: pointer; border-radius: 5px;" aria-label=".form-select-lg example" (change)="validateColor()">
                <option *ngFor="let color of colors" [ngValue]="color">
                    {{color}}
                  </option>
              </select>
            </div>
            <div class="form-group" [formGroup]="carModel">
                <input type="text" formControlName="carModel" id="name" class="form-control" placeholder="Model" (input)="validateCarModel()">
            </div>
            <div class="form-group" [formGroup]="registrationNumber">
                <input formControlName="registrationNumber" type="text" id="password" class="form-control" placeholder="Registration Number" (input)="validateRegNum()">
            </div>
            <div>
                <button type="submit" style="width: 30%; margin-left: 35%;" [disabled]="!validateAll()" class="btn btn-primary btn-block" (click)="onSubmit()"> Register </button>
              </div>
        </form>
    </div>
</div>