<!--Introduction-->
<section id="about" class="introduction scrollto">

    <div class="row clearfix">

        <div class="col-3">
            <div class="section-heading">
                <h2 class="section-title">How we help you deliver your product</h2>
                <p class="section-subtitle">At DeLivva, we take pride in assisting you 
                    throughout the entire product delivery journey. From meticulous planning to 
                    efficient execution, our team ensures a seamless process, guaranteeing that your products 
                    reach their destination on time and in optimal condition. With a commitment to reliability and precision, 
                    we bring value to every step of your delivery chain.</p>
            </div>

        </div>

        <div class="col-2-3">

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-thermometer-three-quarters fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Resilient</h4>
                    <p>Delivering dependability rain or shine — where weather is no 
                        obstacle to our commitment to timely and secure logistics solutions.</p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-bolt fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Easy to Use</h4>
                    <p>Experience the simplicity of our logistics solutions – designed 
                        with your ease in mind. From intuitive interfaces 
                        to user-friendly processes, we're dedicated to making 
                        every step of your logistics journey effortless and efficient.</p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-tablet fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Fully Responsive</h4>
                    <p>Embrace the convenience of our logistics services – fully 
                        responsive to your needs. Our agile approach ensures 
                        adaptability to dynamic demands, providing you with a reliable 
                        and responsive logistics partner for every shipment.</p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-rocket fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Rapid Logistics</h4>
                    <p>Promptly delivering your goods with speed and precision, 
                        our logistics service ensures swift and efficient delivery every time.</p>
                </div>
            </div>
            <!--End of Icon Block-->

        </div>

    </div>


</section>
<!--End of Introduction-->

