<div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s">
    <div class="top-border wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"></div>
    <div class="right-border wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;"></div>
    <div class="bottom-border wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"></div>
    <div class="left-border wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></div>
  </div>
<div style="text-align: center; margin-top: 40px;">
    <img style="width: 70px; height: 70px; cursor: pointer;" routerLink="/dashboard" src="assets/images/delivva-logo.png" id="banner-logo"/>
<h1>My Order List</h1>
</div>
<mat-card>
    <mat-card-header></mat-card-header>
    <mat-card-content>

<table mat-table [dataSource]="datasource" class="mat-elevation-z8"  matSort>

    <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let i = index"> {{ i + 1 }} </td>
      </ng-container>

    <ng-container matColumnDef="Description">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell *matCellDef="let element">{{element.itemDescription}}</td>
    </ng-container>

    <ng-container matColumnDef="Creator">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Creator</th>
        <td mat-cell *matCellDef="let item">{{item.costumer?.username}}</td>
    </ng-container>

    <ng-container matColumnDef="Delivery Date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivery Date</th>
        <td mat-cell *matCellDef="let item">{{item.deliveryDate}}</td>
    </ng-container>

    <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
        <td mat-cell *matCellDef="let item"><span style="margin-left: 5px;" class="badge badge-success">{{
            item.status === 'CREATED' ? 'Order is created' : 
            (item.status === 'PICKED_UP' ? 'Order is picked up by courier' : 
            ((item.status === 'IN_PROGRESS' && item.deliveryFinishedAt) ? "Delivery is finished. Waiting for customer's approval" :
            (item.status === 'IN_PROGRESS' ? 'Order is on the way' : 
            (item.status === 'REJECTED_BY_COURIER' ? 'Order is rejected by courier' : 
            (item.status === 'REJECTED_BY_CUSTOMER' ? 'Order is cancelled by customer' : 
            (item.status === 'DISPUTE_OPENED' ? 'Dispute is opened' : 
            (item.status === 'DISPUTE_CLOSED_BY_CUSTOMER' ? 'Dispute is closed by customer' : 
            (item.status === 'UNDER_CONSIDERATION' ? 'Dispute is under consideration' : 
            (item.status === 'DISPUTE_CLOSED_CUSTOMER_WIN' ? 'Dispute is closed and customer is a winner' : 
            (item.status === 'DISPUTE_CLOSED_COURIER_WIN' ? 'Dispute is closed and courier is a winner' : 'Order is successfully delivered!!!'))))))))))
        }}</span></td>
    </ng-container>

    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef=""> Action</th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button (click)="seeMore(element)"> See more </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>

</mat-card-content>
<br>
<mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons=""></mat-paginator>
</mat-card-footer>
</mat-card>