<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<form class="form-container">
    <div style="text-align: center;">
        <h1 style="font-weight: bold;">Delivery</h1>
    </div>
    <div class="add-text">
        <label>Start Destination:<i style="color: blue;" class="material-icons">place</i> </label>
        <span>{{data.startingPlace}}</span>
    </div>
    <div class="add-text">
        <label>Final Destination:<i style="color: red;" class="material-icons">place</i> </label>
        <span>{{data.finalPlace}}</span>
    </div>
    <div class="add-text">
        <label>Description: </label>
        <span>{{data.itemDescription}}</span>
    </div>
    <div class="add-text">
        <label>Delivery Date: </label>
        <span>{{data.deliveryDate}}</span>
    </div>
    <div *ngIf="data.deliveryStartedAt" class="add-text">
        <label>Delivery Started At: </label>
        <span>{{data.deliveryStartedAt}}</span>
    </div>
    <div *ngIf="data.deliveryFinishedAt" class="add-text">
        <label>Delivery Finished At: </label>
        <span>{{data.deliveryFinishedAt}}</span>
    </div>
    <div class="add-text">
        <label>Status: </label>
        <span style="margin-left: 5px;" class="badge badge-success">{{data.status}}</span>
    </div>
    <div style="text-align: center;">
        <label style="font-size: 20px;">Creator: </label>
    </div>
    <div class="add-text">
        <label> Full Name: </label>
        <span>{{data.costumer.firstName}} {{data.costumer.lastName}}</span>
    </div>
    <div class="add-text">
        <label> Username: </label>
        <span>{{data.costumer.username}}</span>
    </div>
    <div class="add-text">
        <label> Phone Number: </label>
        <span>{{data.costumer.phoneNumber}}</span>
    </div>
    <div class="add-text">
        <label> Email: </label>
        <span>{{data.costumer.email}}</span>
    </div>
    <div *ngIf="data.courier">
        <div style="text-align: center;">
            <label style="font-size: 20px;">Courier: </label>
        </div>
        <div class="add-text">
            <label> Full Name: </label>
            <span>{{data.courier.firstName}} {{data.courier.lastName}}</span>
        </div>
        <div class="add-text">
            <label> Username: </label>
            <span>{{data.courier.username}}</span>
        </div>
        <div class="add-text">
            <label> Phone Number: </label>
            <span>{{data.courier.phoneNumber}}</span>
        </div>
        <div class="add-text">
            <label> Email: </label>
            <span>{{data.courier.email}}</span>
        </div>
    </div>
    <div class="map-container" style="margin-left: 77px; margin-right: 77px;">
        <div id="map" style="width: 100%; height: 400px;"></div>
    </div>
    <div [ngSwitch]="data.status">
        <div style="text-align: center; margin-top: 10px;" *ngSwitchCase="'CREATED'">
            <button class="custom-button" (click)="cancelAnOrder()" style="margin-right: 5px;">Cancel Order</button>
            <button class="custom-button" routerLink="/my-orders/invite">Invite Courier</button>
        </div>
        <div style="text-align: center; margin-top: 10px;" *ngSwitchCase="'PICKED_UP'">
            <button *ngIf="!data.deliveryStartedAt" class="custom-button" (click)="startTheDelivery()" style="margin-right: 5px;">Start Delivery</button>
            <button class="custom-button" (click)="cancelAnOrder()">Cancel Order</button>
        </div>
        <div style="text-align: center; margin-top: 10px;" *ngSwitchDefault="">
            <button *ngIf="!data.deliveryStartedAt" class="custom-button" (click)="startTheDelivery()" style="margin-right: 5px;">Start Delivery</button>
            <button *ngIf="data.courier.id != currentUserId" class="custom-button" (click)="rateOrder()" style="margin-right: 5px;"> Rate </button>
        </div>
        <div style="text-align: center; margin-top: 10px;" *ngIf="data.deliveryStartedAt">
            <button class="custom-button" (click)="finishTheDelivery()">
                Finish Delivery
            </button>
        </div>
    </div>
</form>