<div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s">
  <div class="top-border wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"></div>
  <div class="right-border wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;"></div>
  <div class="bottom-border wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"></div>
  <div class="left-border wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></div>
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div style="text-align: center; margin-top: 50px; width: auto;">
  <h3>Choose the starting and final destinations</h3>
  <input style="border-radius: 7px; margin-right: 5px; width: auto;" [(ngModel)]="searchQueryFrom" placeholder="From" />
  <input style="border-radius: 7px; margin-right: 5px; width: auto;" [(ngModel)]="searchQueryTo" placeholder="To" />
  <button style="
                    margin: auto;
                    border-radius: 7px;
                    cursor: pointer;
                    background-color: blue;
                    color: white;
                    border-color: white;
                    padding-left: 10px; 
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-right: 10px;" (click)="searchLocation()">Search</button>
  <div class="map-container" style="margin-top: 10px;">
    <div id="map" style="width: 700px; height: 400px;"></div>
  </div>
  <div style="margin-top: 30px;">
    <button type="submit" style="width: 150px; text-align: center;" mat-raised-button color="primary"
        [disabled]="!checkAll()" (click)="onSubmit()"> Next </button>
  </div>
</div>