<div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s">
    <div class="top-border wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"></div>
    <div class="right-border wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;"></div>
    <div class="bottom-border wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"></div>
</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div style="text-align: center; margin-top: 200px;">
    <h2>Your email verification process has been expired. Click the button below to resend verification!!!</h2>
    <div style="margin-top: 60px;">
        <button type="submit" style="width: 19%; margin-left: 41%;" class="btn btn-primary btn-block" (click)="onSubmit()"> Resend</button>
    </div>
</div>